/*----------------------------------*/




* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 0.10s ease-in-out !important;
  	-moz-transition: all 0.10s ease-in-out !important;
  	-ms-transition: all 0.10s ease-in-out !important;
  	-o-transition: all 0.10s ease-in-out !important;
	transition: all 0.10s ease-in-out !important;
	
	
    
} ul {
	list-style-type: none;
} p {
	line-height: 150%;
	color: #808080;
	font-size: 11px;
	font-family: verdana, Trebuchet Ms;
} em {
	margin: 4px 0;
	color: #666;
	font-size: 10px;
	/*font-style: normal;*/
} acronym {
	cursor: help;
} .none-padding {
	padding: 0 !important;
} .hide {
	display: none;
} input {
	border: 1px solid #D5D1E4 !important;;
    box-shadow: inset 2px 2px 10px #ECECEC !important;
    border-radius: 5px !important;
    padding: 8px !important;
		-webkit-transition: all 0.30s ease-in-out !important;
  -moz-transition: all 0.30s ease-in-out !important;
  -ms-transition: all 0.30s ease-in-out !important;
  -o-transition: all 0.30s ease-in-out !important;
  transition: all 0.30s ease-in-out !important;
	

}input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 8px rgba(81, 203, 238, 0.8) !important;
  padding: 8px !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
  	-webkit-transition: all 0.30s ease-in-out !important;
  -moz-transition: all 0.30s ease-in-out !important;
  -ms-transition: all 0.30s ease-in-out !important;
  -o-transition: all 0.30s ease-in-out !important;
  transition: all 0.30s ease-in-out !important;
	
	
	
} textarea {
	border: 1px solid #D5D1E4 !important;
    box-shadow: inset 2px 2px 10px #ECECEC !important;
    border-radius: 5px !important;
    padding: 8px !important;

}

/*----------------------------*/

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

/*----------------------------*/




body {
	color: #000;
	/*font: 11px arial, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	/*border-top: solid 20px #170656;*/
	background-color:#036;
	background: url('../img/bggrey.jpg') no-repeat fixed center center / cover transparent;

}

/*----------------------------*/

#menu {
	/*float: left;
	width: 200px;*/
	float: left;
  /* width: 200px; */
  display: -webkit-box;
  position: fixed;
  left: 0;
  background-color: rgb(27, 27, 27);
  height: 100%;
} #menu ul {
	margin: 12px 0;
  padding: 0;
  width: 200px;
  list-style-type: none;
  color: #3C3C3C;
  /*background: rgba(255, 255, 255, 0.29);
  border-radius: 10px;*/
} #menu ul h1 {
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 16px;
	font-weight: bold;
}
	#menu ul li.logo a {
	padding-bottom: 25px;	
	
} #menu ul li.logo a:hover {
	color: #fff !important;
	background: rgba(27, 27, 27, 0.5) !important;
	  
} #menu ul li {
	margin: 0;
  padding: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
} #menu ul li a {
	padding: 10px 15px;
  display: block;
  color: #FFFFFF;
  font-size: 15px;
  /* font-weight: bold; */
  text-shadow: 0 0px 7px rgb(76, 76, 76);
} #menu ul li a:hover, #menu  ul li.on a {
	background: #296FB1;
	text-decoration:none;

}

/*----------------------------*/

#navopcjons {
	  margin: 0px 0 5px 0;
  height: 38px;
  list-style-type: none;
 /* background-color: rgba(0, 0, 0, 0.76);*/
  border-radius: 12px;
	list-style-type: none;
} #navopcjons li {
	float: left;
  margin: 40px 0px 15px 40px;
  padding: 0;
  text-align: center;
  
} #navopcjons li a {
  font-size: 1.2em;
  color: #170656;
  padding: 20px 20px 30px 20px;
  z-index: 10;
  line-height: 21px;
}
 #navopcjons li a:hover {
	background-color: rgba(202, 202, 202, 0.23);
	padding: 20px 20px 30px 20px;
	/*color: #fff;*/
	border-radius:10px;
	/*text-shadow: 0px 0px 1px #888888;*/
	box-shadow: inset 3px 4px 12px rgba(202, 202, 202, 0.43);;
	
} #navopcjons  li.on a {
  background-color: #296FB1;
    font-size: 1.3em;
    color: #FFFFFF;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    z-index: 10;
    line-height: 0px;
    box-shadow: inset 3px 4px 12px #26629A;
    /* border: 2px solid #2F6BA2; */
    text-shadow: 0px 0px 1px #172E44;
} 

/*----------------------------*/
@keyframes fadeIn { from { opacity:0.5; -webkit-filter: blur(2px);
  filter: blur(2px); } to { opacity:1; filter:blur(0px); } }

#content {
	clear: both;
	margin: 0 auto 20px auto;
	width: 960px;
} #bloc-left-200 {
	float: left;
	width: 202px;
	top: 0;
    position: fixed;
	
	opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:0.2s;
	
} #bloc-right-740 {
	float: right;
	/*width: 742px;*/
	
	opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:0.5s;
	animation-delay: 0.3s
}

/*----------------------------*/


.box-200, .box-740 {
	clear: both;
	float: left;
	text-align: left;
} .box-200 {
	width: 200px;
}  .box-740 {
	width: 740px;
	
} .box-740 h3 {
	float: left;
	width: 100%;
	display: block;
	color: #333;
	font-size: 14px;
	margin: 15px 0 10px 0;
	border-bottom: 1px solid #ccc;
}  

/*----------------------------*/

.header {
	height: 35px;
	background: #EEEEEE;
	display: none;
} .header  h2, .header  h3 {
	display: block;
	float: left;
	margin: 8px 0 0 10px;
	font-size: 14px;
	color: #000;
}

/*----------------------------*/

.box-200 .box {
	float: left;
	width: 200px;
	background: #F5F5F5;
} .box-740 {
float: left;
  max-width: 740px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #FFFFFF;
  /* border-top: 3px solid #554F7E; */
  background: rgba(255, 255, 255, 1);
 /* text-shadow: 0 1px 0 rgb(229, 229, 229);*/
  border-radius: 15px;
  box-shadow: 3px 3px 32px #D0D0D0;
      margin-bottom: 25px;
}

/*----------------------------*/

.menu {
	padding: 10px 0;
} .menu  ul {
	margin: 2px 0 0 7px;
	list-style-type: none;
} .menu  ul li {
	margin: 5px 0 0 7px;
} .menu  ul li ul{
	margin: 1px 0 0 7px;
} .menu  ul li ul li{
	margin: 1px 0 0 7px;
} 

/*----------------------------*/

.alert {
	clear: both;
	margin: 0 0 5px 0;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
} .alert-tak {
	color: #2EA96C;
    background: #E1FFE1;
    font-size: 16px;
} .alert-nie {
	color: #800000;
	background: #FFE5E5;
	font-size: 16px;
}

/*----------------------------*/

.paging {
	float: left;
	display: block;
	width: 100%;
	margin: 10px 0;
	height: 35px;
	line-height: 45px;
	text-align: center;
} .paging a {
    margin: 5px 2px;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 7px;

    color: #444444;

    font-size: 14px;
    font-weight: 100;

    box-shadow: 2px 2px 17px #ccc;
} 

.paging span {
    border-radius: 7px;
    margin: 5px 2px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background: #296FB1;
    text-shadow: 0px 0px 5px #13395D;
    font-size: 14px;

}.paging span.selected {
	color: #fff;
	text-decoration: none;
	background: #ED1C24;
} .paging a.num {
	margin: 5px 2px;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 7px;
    color: #444444;
    font-size: 14px;
    font-weight: 100;
} .paging a.next-back {
	font-weight: normal;
	background-color:#CCC;
} .paging a.num:hover, .paging a.back:hover, .paging a.next:hover {
	color: #333;
	text-decoration: none;
	box-shadow: inset 1px 1px 12px rgba(0, 0, 0, 0.15);
} .paging a {
	margin: 2px 5px;
}


/*----------------------------*/

p.info {
	clear: both;
    margin: 0px 0 0px -10px;
    /* width: 610px; */
    font-size: 12px;
    /* font-style: italic; */
    padding: 30px 0px 12px 0;
    font-size: 16px;
    color: #50829C;
}

p.notice {
	font-size: 13px;
    background-color: #F0F4FB;
    color: #95A3C5;
    text-align: justify;
    border-radius: 10px;
    /* line-height: 49px; */
    padding: 8px 18px;
    width: 430px;
    border: 3px dotted #FFFFFF;
}

/*----------------------------*/

#box-login {
    margin: 10% auto;
    width: 405px;
    height: 270px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #E6E6E6;
    BORDER-RADIUS: 15px;
    padding: 20px;
    box-shadow: 2px 2px 20px #D6D6D6;
}
/*----------------------------*/

form.form-uni {
	margin: auto;
	padding: 10px 0;
} form.form-uni, form.form-uni .box-input {
	clear: both;
	margin: 8px auto;
	width: 656px;
} form.form-login {
	clear: both;
	margin: 20px auto;
	text-align:center;
	
} form.form-login input.submit, form.form-login input.submit-load {
	padding: 10px 45px !important;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: 2px solid #FFFFFF!important;
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;
    background: #5fb763 url('/img/icon-working.gif') no-repeat 5px -55px;
    margin: 10px -13px;
    box-shadow: inset 0px 0px 37px #419c45 !important;
    text-shadow: 1px 1px 1px #265429 !important;
    font-size: 14px;
    font-weight: 100;
} form.form-login input.submit:hover, form.form-login input.submit-load:hover {
    color: #fff;
    border: 2px solid #FFFFFF!important;
    background: #379a3b url('/img/icon-working.gif') no-repeat 5px -55px;
    box-shadow: inset 0px 0px 37px #347537; !important;

} form.form-uni .box-input {
	float: left;
} form.form-uni label, form.form-uni select, form.form-uni input, form.form-uni textarea {
	padding: 5px;
} form.form-uni option {
	padding-left: 5px;
} form.form-uni select, form.form-uni input, form.form-uni textarea {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-moz-box-shadow:1px 1px 1px 0 #D0D0D0 inset;
	-webkit-box-shadow:1px 1px 1px 0 #D0D0D0 inset;
	box-shadow:1px 1px 1px 0 #D0D0D0 inset;
} form.form-uni select, form.form-uni input, form.form-uni textarea {
	border: solid 1px #c1c1c1;
	background: #fefefe;
} form.form-uni label {
	float: left;
    padding: 6px 5px 10px 5px !important;
    width: 100px;
    /* text-align: left; */
    color: #505050;
    text-shadow: none;
    font-weight: 100;
  /* text-align: left; */
} form.form-uni input.checkbox {
	margin: 7px 5px;
} form.form-uni input.big {
	width: 195px;
    
} form.form-uni input.xbig {
	width: 545px;
} form.form-uni select {
	width: 535px;
} form.form-uni select.small {
	width: 51px;
} form.form-uni input.small {
	width: 60px;
} form.form-uni textarea.big {
	width: 545px;
	height: 150px;
} form.form-uni textarea.tinyMCE {

	height: 500px;
} form.form-uni textarea.all {
	width: 645px;
	height: 300px;
} form.form-uni textarea.small {
	width: 545px;
	height: 50px;
} form.form-uni input.submit, form.form-uni input.submit-load {
	float: right;
    padding: 15px 50px !important;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid #419645!important;
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;
    /*-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;*/
    background: #449E48 url('/img/icon-working.gif') no-repeat 5px -55px;
    margin: 10px 0px;
    box-shadow: inset 0px 0px 37px #388C3C !important;
    text-shadow: 1px 1px 1px #265429 !important;
    font-size: 15px;
    font-weight: 100;
} form.form-uni input.submit:hover, form.form-uni input.submit-load:hover {
	border: 1px solid #2CAD32!important;
    background: #24C525 url('/img/icon-working.gif') no-repeat 5px -55px;
    box-shadow: inset 0px 0px 37px #29B130 !important;
}form.form-uni input.submit-load {
	color: #ddd;
	background: #ccc url('/img/icon-working.gif') no-repeat 5px 5px;
	padding: 5px 10px 5px 25px !important;
	cursor: default;
} form.form-uni .left {
	float: left;
	width: 350px;
	padding-left: 135px;
} form.form-uni .right {
	/*float: right;
	margin-right: 2px;*/
}


/*----------------------------*/

.fotki {
} .fotki .result {
	float: left;
	margin: 10px;
} .fotki .img {
} .fotki .option {
}

/*----------------------------*/

.tabela {
	float: left;
	margin: auto;
	width: 720px;
} .tabela .tr {
	float: left;
	padding: 8px 0;
	width: 100%;
	display: block;
	border-bottom: 1px solid #e3e4e6;
} .tabela .td {
	float: left;
	margin: 5px 10px;
	display: block;
	font-size: 13px;
} .tabela .td a {
	font-size: 11px;
} .tabela .td a.tresc {
	color: #000;
} .tabela .na {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 2px solid #000;
	padding: 8px 0 2px 0 !important;
	background: none !important;
} .tabela .tr:hover {
	background: #e3e4e6;
}
/*----------------------------------*/

.botton-edytuj, .botton-usun  {
	background: url('/img/admin-icons.png') no-repeat top left;
} .botton-usun {
	background-position: -20px -1px;
} .botton-edytuj {
	background-position: 0 -1px;
} .botton-usun, .botton-edytuj {
	float: left;
	display: inline-block;
	height: 18px;
	width: 22px;
	text-indent: -9999px;
}

a.botton-usun:hover, a.botton-edytuj:hover {
 background-color: #000000;
}

.botton-spacer {
	margin-right: 10px;
}

a.button {
	padding: 2px 3px;
	color: #fff;
	font-size: 10px;
	text-decoration: none;
	background: #800000;
} a:hover.button {
	color: #5c90cb;
	background: #fff;
}

/*----------------------------*/

a {
	color: #000000;
	font-size: 11px;
	text-decoration: none;
} a:hover {
	color: #800000;
	text-decoration: underline;
}

.box-submit {
	float: left;
  margin: 25px 38%;
  
}

.box-login-submit {
  margin: 20px 34%;
  
}

.hcolor {
	  width: 80px;
	  height: 80px;
	  border-radius: 80px !important;
	  border: none !important;
	  text-align:center;
	  box-shadow: 2px 2px 15px #DDD !important;
	
}

.hcolor_list {
	  width: 30px;
	  height: 30px;
	  border-radius: 60px;
	  background-color: #529E71;
	  margin-left: 25px;
}

.m_title {
	font-size: 30px;
    border-bottom: 14px dotted rgba(235, 240, 245, 0.38);
    padding: 20px;
    color: #3D77A7;
    border-top: 14px dotted rgba(235, 240, 245, 0.38);
}

.b-delete {
	color: #B90D0D;
    font-size: 20px !important;
    margin: 6px 10px;
    position: absolute;
}

.b-delete:hover {
	color: #FFF;
    text-shadow: 1px 1px 12px rgba(185, 13, 13, 0.7);
}

.b-edit {
	color: #296FB1;
    font-size: 36px !important;
    margin: 0px 10px;
    /*position: absolute;*/
}

.b-edit:hover {
	color: #FFF;
    text-shadow: 1px 1px 12px rgba(41, 111, 177, 0.7);
    /*position: absolute;*/
}


.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
	animation-delay: 0.4s
	animation-iteration-count:3; 
    -webkit-animation-iteration-count:3; 
} 

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);} 
} 
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
} 
.shake { 
    -webkit-animation-name: shake; 
    animation-name: shake; 
}

@-webkit-keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
.flash { 
    -webkit-animation-name: flash; 
    animation-name: flash; 
}