/*----------------------------------*/
/*
@font-face {
    font-family: 'CalibriRegular';
    src: url('/fonts/calibri-webfont.eot');
    src: url('/fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/calibri-webfont.woff') format('woff'),
         url('/fonts/calibri-webfont.ttf') format('truetype'),
         url('/fonts/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalibriBold';
    src: url('/fonts/calibrib-webfont.eot');
    src: url('/fonts/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/calibrib-webfont.woff') format('woff'),
         url('/fonts/calibrib-webfont.ttf') format('truetype'),
         url('/fonts/calibrib-webfont.svg#CalibriBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalibriItalic';
    src: url('/fonts/calibrii-webfont.eot');
    src: url('/fonts/calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/calibrii-webfont.woff') format('woff'),
         url('/fonts/calibrii-webfont.ttf') format('truetype'),
         url('/fonts/calibrii-webfont.svg#CalibriItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
* {

	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	zoom: 0;
} ul {
	list-style-type: none;
} p {
	line-height: 130%;
	color: #333;
} acronym {
	cursor: help;
}

.tinyMCE {
	font-size: 13px;
	line-height: 130%;
} .tinyMCE ul {
	list-style-type: none;
} .tinyMCE ul, .tinyMCE ol {
	margin: 10px 0 !important;
	padding: 0 !important;
}.tinyMCE li {
	margin: 5px 0 !important;
	padding: 0 0 0 40px !important;
	background: url('/img/bg-content-li.png') no-repeat 22px 4px;
}

.none-padding {
	padding: 0 !important;
}.none-background {
	background: none !important;
} .none-border {
	border: 0 !important;
}



body, button, input, label, textarea {
	font: 12px arial, sans-serif;
} article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}


a, .link {
	color: #03C;
	text-decoration: none;
} a:hover, .link:hover {
	text-decoration: underline;
}

/*----------------------------------*/

body {
	margin: auto;
	color: #000;
	position: relative;
	background: #F5F5F5 url("/img/bg-body.png") repeat-x top left;
}

/*----------------------------------*/

 .wrapper {
	clear: boht;
	position: relative;
	margin: auto;
	width: 970px;
}

/*----------------------------------*/

#main-header {
	position: relative;
	margin: auto;
	width: 970px;
	height: 378px;
	background: url('/img/bg-header.png') no-repeat -1px 60px;
} #main-header h1 a {
	display: block;
	position: absolute;
	right: 40px;
	top: 90px;
	width: 370px;
	height: 95px;
	text-indent: -9999px;
	/*border: 1px solid #fff;*/
} #main-header strong {
	display: block;
	position: absolute;
	right: -32px;
	top: 291px;
	width: 425px;
	height: 150px;
	text-indent: -9999px;
}#main-header strong a {
	display: block;
	width: 120px;
	height: 35px;
	text-indent: -9999px;
	/*border: 1px solid #fff;*/
} #main-header strong a:hover {
	background: #111;
	filter: alpha(opacity=10);
	opacity: 0.1;
}  #main-header nav ul {
	margin: auto;
	width: 595px;
} #main-header nav ul li {
	float: left;
	display: inline-block;
} #main-header nav ul li a {
	display: block;
	margin: 0 20px 0 10px;
	width: 112px;
	height: 61px;
	text-indent: -9999px;
	background: url('/img/nav-menu.png') no-repeat top left;
} #main-header nav ul li a.about {
	width: 81px;
	background-position: 0 -62px;
} #main-header nav ul li a.about:hover, #main-header nav ul li.selected a.about {
	background-position: 0 0;
} #main-header nav ul li a.offer {
	width: 82px;
	background-position: -104px -62px;
}  #main-header nav ul li a.offer:hover, #main-header nav ul li.selected a.offer {
	background-position: -104px 0;
} #main-header nav ul li a.quality {
	width: 81px;
	background-position: -215px -62px;
} #main-header nav ul li a.quality:hover, #main-header nav ul li.selected a.quality {
	background-position: -215px 0;
} #main-header nav ul li a.download {
	width: 115x;
	background-position: -327px -62px;
} #main-header nav ul li a.download:hover, #main-header nav ul li.selected a.download {
	background-position: -327px 0;
} #main-header nav ul li a.contact {
	width: 80px;
	background-position: -474px -62px;
} #main-header nav ul li a.contact:hover, #main-header nav ul li.selected a.contact {
	background-position: -474px 0;
}

/*----------------------------------*/

ul.nav-offer {
	position: absolute;
	top: -33px;
	left:0;
	width: 970px;
	height: 140px;
	background: url('/img/nav-offer.png') no-repeat top left;
} ul.nav-offer li {
	float: left;
	display: block;
} ul.nav-offer li a {
	display: block;
	margin: 20px 0 0 15px;
	text-indent: -9999px;
	width: 174px;
	height: 100px;
	/*border: 1px solid #fff;*/
} ul.nav-offer li a:hover {
}

/*----------------------------------*/

#container, #container aside {
	min-height: 740px;
} #container {
	float: left;
	position: relative;
	margin: auto;
	padding-top: 80px;
	width: 970px;
}

.background {
	background: url('/img/bg-container.png') repeat-y top right;
}

/*----------------------------------*/

article header {
	margin: 5px 0 20px 0;
	border-bottom: 1px solid #c8c8c8;
	background: url('/img/bg-h2-right.png') no-repeat right 3px;

} article header h2 {
	font-size: 28px;
	font-weight: normal;
	color: #bbbbbb;
	padding: 0 0 5px 20px;
	background: url('/img/bg-h2-left.png') no-repeat 0 6px;
	
}

/*----------------------------------*/

article {
	float: left;
	padding: 40px 25px;
	width: 650px;
} article.all {
	width: 920px !important;
} article .left {
	float: left;
	width: 440px;
} article .right {
	float: right;
	width: 420px;
}

/*----------------------------------*/

aside {
	float: right;
	width: 265px;
}

/*----------------------------------*/

aside ul {
	width: 264px;
	height: 550px;
	background: url('/img/submenu-offer.png') no-repeat top left;
} aside ul li {
	float: left;
	display: block;
} aside ul li a {
	display: block;
	margin: 5px 5px 5px 21px;
	text-indent: -9999px;
	width: 220px;
	height: 90px;
	/*border: 1px solid #fff;*/
} aside ul li li a:hover {
}

/*----------------------------------*/

aside div, #DivImageScrollerFX {
	width: 264px;
	margin: auto;
	padding-top: 40px;
	text-align: center;
}

/*----------------------------------*/

.alert-true, .alert-false {
	display: block;
	padding: 7px 0 7px 10px;
	color: #fff;
	font-weight: bold;
	width: 440px;
} .alert-true {
	background: #90EE90;
} .alert-false {
	background: #FF0000;
}
/*----------------------------------*/

form.contact {
	float: left;
	width: 440px;
} form.contact p {
	float: left;
	width: 440px;
	display: block;
	margin: 10px 0 0 0;
} form.contact p label {
	float: left;
	padding: 2px 0;
	font-size: 11px;
} form.contact p .half {
	display: block;
	width: 210px;
} form.contact p .half .left {
	float: left;
} form.contact p .half .right {
	float: right;
} form.contact p .half input.text {
	width: 210px;
} form.contact p input.text, form.contact p textarea  {
	padding: 3px;
	border: 1px solid #c3c3c3;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;	
	background: #f1f1f1;
} form.contact p input.text {
} form.contact p.submit{
	margin: 5px 0 0 0;
} form.contact p.submit input {
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
	background: #000;
} form.contact p textarea {
	height: 350px;
	width: 440px;
} h3.contact,
	h4.contact  {
	float: left;
	display: block;
	font-weight: normal;
} h3.contact {
	margin: 70px 0 20px 0;
	font-size: 18px;
	color: #bbbbbb;
	padding: 0 0 5px 20px;
	background: url('/img/bg-h2-left.png') no-repeat 0 0;
} h4.contact {
	margin: 27px 0 0 0;
	font-size: 16px;
	color: #11436a;
	border-bottom: 4px solid #ebebeb;
	padding: 0 0 5px 0;
	width: 440px;
}
/*----------------------------------*/

.offer h3 {
	margin: 0 0 17px -2px;
	display: block;
	height: 62px;
	width: 666px;
	text-indent: -9999px;
} .offer h3.o1 {
	background: url('/img/button-offer.png') no-repeat -5px 0;
} .offer h3.o2 {
	background: url('/img/button-offer.png') no-repeat -5px -60px;
} .offer h3.o3 {
	background: url('/img/button-offer.png') no-repeat -5px -127px;
} .offer h3.o4 {
} .offer h3.o5 {
	background: url('/img/button-offer.png') no-repeat -5px -195px;
}

/*----------------------------------*/

ul.photo {
	float: left;
	width: 100%;
	margin-top: 50px;
} ul.photo li {
	float: left;
	overflow: hidden;
	margin: 20px 10px 0 10px;
	height: 80px;
	width: 85px;
	background: #ededed;
	border: 1px solid #DBDBDB;
} ul.photo li img {
	width: 85px;
}

/*----------------------------------*/

ul.quality {
	float: left;
	width: 100%;
	margin-top: 10px;
} ul.quality li {
	float: left;
	margin: 20px 20px 0 0;
	height: 160px;
	width: 448px;
	background: #ededed;
	border: 1px solid #DBDBDB;
} ul.quality li.right {
	margin-right: 0;
} ul.quality li img {
	float: left;
	display: block;
	margin: 15px;
	width: 126px;
	height: 126px;
	border: 3px solid #D4D4D4;
} ul.quality li h3 {
	float: left;
	display: block;
	margin: 70px 0 0 0;
	width: 280px;
	color: #5d5d5d;
	font-size: 16px;
	text-align: center;
}

/*----------------------------------*/

ul.download {
	float: left;
	width: 100%;
	margin-top: 15px;
} ul.download li {
	float: left;
	margin: 15px 0 0 0;
	height: 160px;
	background: #ededed;
	border: 1px solid #DBDBDB;
} ul.download li img {
	float: left;
	display: block;
	margin: 15px;
	width: 126px;
	height: 126px;
	border: 3px solid #D4D4D4;
} ul.download li h3 {
	padding: 35px 0 10px 0;
	font-size: 16px;
	color: #5d5d5d;
} ul.download li h3.single {
	padding-top: 65px;
}  ul.download li span.info {
	float: left;
	display: block;
	margin: 0 19px 0 10px;
	width: 490px;
} ul.download li span.size,
	ul.download li span.download a{
	float: right;
	display: block;
	height: 60px;
	padding: 100px 0 0 0;
	font-size: 11px;
	color: #575757;
	text-transform: uppercase;
	text-align: center;
	border-left: 1px solid #DBDBDB;
	background: url('/img/button-download.png') no-repeat 0 0;
} ul.download li span.size {
	width: 105px;
	background-position: 20px 20px;
} ul.download li span.download a {
	width: 130px;
	background-position: -83px 20px;
}

/*----------------------------------*/

p.paging {
	float: left;
	display: block;
	margin: 30px 0 0 0;
	width: 100%;
	line-height: 40px;
	height: 40px;
	text-align: center;
} p.paging a,
	p.paging span {
	display: inline-block;
	margin: 0 3px 0 3px;
} p.paging a.num,
	p.paging span {
	color: #7f7f7f;
	font-size: 16px;
	text-decoration: underline;
} p.paging span,
	p.paging a.num:hover {
	color: #ff0000;
} p.paging span,
	p.paging a.back:hover,
	p.paging a.next:hover {
	text-decoration: none;
} p.paging a.back, p.paging a.next {
	height: 40px;
	width: 84px;
	background: url('/img/button-prv-next.png') no-repeat 0 0;
} p.paging a.back span,
	p.paging a.next span {
	text-indent: -9999px;
} p.paging a.back {
	background-position: 0 0;
	margin-right: 10px;
} p.paging a.next {
	background-position: -85px 0;
	margin-left: 10px;
}

/*----------------------------------*/

ul.position {
	float: left;
	margin: 10px 0;
	width: 210px;
} ul.position li {
	margin: 5px 0;
	height: 18px;
} ul.position li a {
	color: #333;
} ul.position li.tel,
	ul.position li.fax,
	ul.position li.mail,
	ul.position li.gg {
	padding: 2px 0 0 40px;
	background: url(/img/icons-contact.png) no-repeat 0 0;
} ul.position li.tel {
	background-position: 0 0;
} ul.position li.fax {
	background-position: 0 -22px;
} ul.position li.mail {
	font-size: 11px;
	background-position: 0 -44px;
} ul.position li.gg {
	background-position: 0 -66px;
}

/*----------------------------------*/

.scheme h3,
.scheme h4,
.scheme h5 {
	
	margin:0;
	padding:0;
	color: #fff;
	font-family: 'Calibri';
	font-weight: normal;
	background: url(/img/scheme.png) no-repeat 0 0;
	text-shadow: 0px 1px 2px rgba(128, 128, 128, 1);
	text-align: center;
	display: block;
	overflow: hidden;
}

.scheme h3 {
	font-size: 32px;
	padding: 25px 0 0 0;
	height: 80px;
	line-height: 32px;
	width: 660px;
	/*height: 87px;*/
	background-position: -4px 0;
}
.scheme h3 i {
	font-size: 16px;
}
.scheme h4 {
	font-size: 24px;
	padding: 25px 0 0 0;
	height: 50px;
	line-height: 26px;
	width: 535px;
	/*height: 73px;*/
	background-position: -4px -107px;
}
.scheme h5 {
	font-size: 18px;
	padding: 16px 0 0 0;
	height: 32px;
	line-height: 12pt;
	width: 492px;
	/*height: 45px;*/
	background-position: -4px -258px;
}

.scheme ul li {
	display: inline-block;
	font-size: 16px;
	padding: 17px 0 0 0;
	height: 58px;
	line-height: 22px;
	text-align: center;
	/*height: 73px;*/
	font-family: 'Calibri';
	color: #fff;
	background: url(/img/scheme.png) no-repeat 0 0;
	text-shadow: 0px 1px 2px rgba(173, 173, 173, 1);
}
.scheme ul li.half {
	width: 265px;
	background-position: -4px -306px;
}
.scheme ul li.all {
	width: 535px;
	background-position: -4px -182px;
}

.scheme ul li.half-mini {
	width: 241px;
	background-position: -4px -383px;
}
.scheme ul li i {
	font-size: 11px;
}

/*----------------------------------*/

footer {
	float: left;
	width: 100%;
	height: 100px;
	background: #D3D3D3;
} footer div {
	position: relative;
	margin: auto;
	width: 970px;
} footer ul {
	position: absolute;
	top: -15px;
	left: 200px;
	margin: 0 auto 0 auto;
	height: 55px;
	width: 585px;
	background: url('/img/bg-footer-ul.png') no-repeat top left;
} footer ul li {
	margin: 20px 25px 0 35px;
	float: left;
}footer ul li a {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #8f8f8f;
} footer ul li a:hover, footer ul li.selected a {
	color: #fff;
	text-decoration: none;
} footer p {
	padding: 70px 25px 0 25px;
	color: #333;
} footer p, footer p span, footer p em {
	display: block;
	font-size: 12px;
	color: #666;
} footer p span {
	float: left;
} footer p em {
	float: right;
}


/*----------------------------------*/
