@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400&subset=latin,latin-ext);

* {

  margin: 0;

}


ul {
	list-style-type: none;
} p {
	line-height: 130%;
	color: #333;
} acronym {
	cursor: help;
}

.tinyMCE {
	font-size: 13px;
	line-height: 130%;
} .tinyMCE ul {
	list-style-type: none;
} .tinyMCE ul, .tinyMCE ol {
	margin: 10px 0 !important;
	padding: 0 !important;
}.tinyMCE li {
	margin: 5px 0 !important;
	padding: 0 0 0 40px !important;
	background: url('/img/bg-content-li.png') no-repeat 22px 4px;
}

.none-padding {
	padding: 0 !important;
}.none-background {
	background: none !important;
} .none-border {
	border: 0 !important;
}



body, button, input, label, textarea {
	font-family: 'Open Sans';
} article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}


a, .link {
	color: #03C;
	text-decoration: none;
} a:hover, .link:hover {
	text-decoration: underline;
}

/*----------------------------------*/

body {
	margin: auto;
	color: #000;
	position: relative;
	background: #F5F5F5 url("/img/bg-body.png") repeat-x top left;
}

/*----------------------------------*/

 .wrapper {
	clear: boht;
	position: relative;
	margin: auto;
	width: 970px;
}

/*----------------------------------*/

#main-header {
	position: relative;
	margin: auto;
	width: 970px;
	height: 378px;
	background: url('/img/bg-header.png') no-repeat -1px 60px;
} #main-header h1 a {
	display: block;
	position: absolute;
	right: 40px;
	top: 90px;
	width: 370px;
	height: 95px;
	text-indent: -9999px;
	/*border: 1px solid #fff;*/
} #main-header strong {
	display: block;
	position: absolute;
	right: -32px;
	top: 291px;
	width: 425px;
	height: 150px;
	text-indent: -9999px;
}#main-header strong a {
	display: block;
	width: 120px;
	height: 35px;
	text-indent: -9999px;
	/*border: 1px solid #fff;*/
} #main-header strong a:hover {
	background: #111;
	filter: alpha(opacity=10);
	opacity: 0.1;
}  #main-header nav ul {
	margin: auto;
	width: 595px;
} #main-header nav ul li {
	float: left;
	display: inline-block;
} #main-header nav ul li a {
	display: block;
	margin: 0 20px 0 10px;
	width: 112px;
	height: 61px;
	text-indent: -9999px;
	background: url('/img/nav-menu.png') no-repeat top left;
} #main-header nav ul li a.about {
	width: 81px;
	background-position: 0 -62px;
} #main-header nav ul li a.about:hover, #main-header nav ul li.selected a.about {
	background-position: 0 0;
} #main-header nav ul li a.offer {
	width: 82px;
	background-position: -104px -62px;
}  #main-header nav ul li a.offer:hover, #main-header nav ul li.selected a.offer {
	background-position: -104px 0;
} #main-header nav ul li a.quality {
	width: 81px;
	background-position: -215px -62px;
} #main-header nav ul li a.quality:hover, #main-header nav ul li.selected a.quality {
	background-position: -215px 0;
} #main-header nav ul li a.download {
	width: 115x;
	background-position: -327px -62px;
} #main-header nav ul li a.download:hover, #main-header nav ul li.selected a.download {
	background-position: -327px 0;
} #main-header nav ul li a.contact {
	width: 80px;
	background-position: -474px -62px;
} #main-header nav ul li a.contact:hover, #main-header nav ul li.selected a.contact {
	background-position: -474px 0;
}

/*----------------------------------*/

ul.nav-offer {
	position: absolute;
	top: -33px;
	left:0;
	width: 970px;
	height: 140px;
	background: url('/img/nav-offer.png') no-repeat top left;
} ul.nav-offer li {
	float: left;
	display: block;
} ul.nav-offer li a {
	display: block;
	margin: 20px 0 0 15px;
	text-indent: -9999px;
	width: 174px;
	height: 100px;
	/*border: 1px solid #fff;*/
} ul.nav-offer li a:hover {
}

/*----------------------------------*/

#container, #container aside {
	min-height: 740px;
} #container {
	float: left;
	position: relative;
	margin: auto;
	padding-top: 80px;
	width: 970px;
}

.background {
	background: url('/img/bg-container.png') repeat-y top right;
}

/*----------------------------------*/

article header {
	margin: 5px 0 20px 0;
	border-bottom: 1px solid #c8c8c8;
	background: url('/img/bg-h2-right_color.png') no-repeat right 3px;

} article header h2 {
	font-size: 24px;
  font-weight: normal;
  color: #9D9D9D;
	padding: 0 0 5px 20px;
	background: url('/img/bg-h2-left.png') no-repeat 0 6px;
	
}

/*----------------------------------*/

article {
	float: left;
	padding: 40px 25px;
	width: 650px;
} article.all {
	width: 920px !important;
} article .left {
	float: left;
	width: 440px;
} article .top {
	/*float: right;*/
	width: 940px;
}
 article .right {
	float: right;
	width: 440px;
}

/*----------------------------------*/

aside {
	float: right;
	width: 265px;
}

/*----------------------------------*/

aside ul {
	width: 264px;
	height: 550px;
	background: url('/img/submenu-offer.png') no-repeat top left;
} aside ul li {
	float: left;
	display: block;
} aside ul li a {
	display: block;
	margin: 5px 5px 5px 21px;
	text-indent: -9999px;
	width: 220px;
	height: 90px;
	/*border: 1px solid #fff;*/
} aside ul li li a:hover {
}

/*----------------------------------*/

aside div, #DivImageScrollerFX {
	width: 264px;
	margin: auto;
	padding-top: 40px;
	text-align: center;
}

/*----------------------------------*/

.alert-true, .alert-false {
	display: block;
	padding: 7px 0 7px 10px;
	color: #fff;
	font-weight: bold;
	width: 440px;
} .alert-true {
	background: #90EE90;
} .alert-false {
	background: #FF0000;
}
/*----------------------------------*/

form.contact {
	float: left;
	width: 440px;
} form.contact p {
	float: left;
	width: 440px;
	display: block;
	margin: 10px 0 0 0;
} form.contact p label {
	float: left;
	padding: 2px 0;
	font-size: 11px;
} form.contact p .half {
	display: block;
	width: 210px;
} form.contact p .half .left {
	float: left;
} form.contact p .half .right {
	float: right;
} form.contact p .half input.text {
	width: 210px;
} form.contact p input.text, form.contact p textarea  {
	padding: 3px;
	border: 1px solid #c3c3c3;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;	
	background: #f1f1f1;
} form.contact p input.text {
} form.contact p.submit{
	margin: 5px 0 0 0;
} form.contact p.submit input {
	padding: 8px 18px;
  color: #fff;
  font-weight: bold;
  background: #B83030;
  border: none;
  border-radius: 8px;
  text-shadow: 1px 1px 2px rgb(87, 3, 3);
} form.contact p textarea {
	height: 350px;
	width: 440px;
} h3.contact,
	h4.contact  {
	float: left;
	display: block;
	font-weight: normal;
} h3.contact {
	margin: 37px 0 31px 0;
	font-size: 18px;
	color: #bbbbbb;
	padding: 0 0 5px 20px;
	background: url('/img/bg-h2-left.png') no-repeat 0 0;
} h4.contact {
	margin: 27px 0 0 0;
	font-size: 16px;
	color: #11436a;
	border-bottom: 4px solid #ebebeb;
	padding: 0 0 5px 0;
	width: 440px;
}
/*----------------------------------*/

.offer h3 {
	margin: 0 0 17px -2px;
	display: block;
	height: 62px;
	width: 666px;
	text-indent: -9999px;
} .offer h3.o1 {
	background: url('/img/button-offer.png') no-repeat -5px 0;
} .offer h3.o2 {
	background: url('/img/button-offer.png') no-repeat -5px -60px;
} .offer h3.o3 {
	background: url('/img/button-offer.png') no-repeat -5px -127px;
} .offer h3.o4 {
} .offer h3.o5 {
	background: url('/img/button-offer.png') no-repeat -5px -195px;
}

/*----------------------------------*/

ul.photo {
	float: left;
	width: 100%;
	margin-top: 50px;
} ul.photo li {
	float: left;
	overflow: hidden;
	margin: 20px 10px 0 10px;
	height: 80px;
	width: 85px;
	background: #ededed;
	border: 1px solid #DBDBDB;
} ul.photo li img {
	width: 85px;
}

/*----------------------------------*/

ul.quality {
	float: left;
	width: 100%;
	margin-top: 10px;
} ul.quality li {
	float: left;
	margin: 20px 20px 0 0;
	height: 160px;
	width: 448px;
	background: #ededed;
	border: 1px solid #DBDBDB;
} ul.quality li.right {
	margin-right: 0;
} ul.quality li img {
	float: left;
	display: block;
	margin: 15px;
	width: 126px;
	height: 126px;
	border: 3px solid #D4D4D4;
} ul.quality li h3 {
	float: left;
	display: block;
	margin: 70px 0 0 0;
	width: 280px;
	color: #5d5d5d;
	font-size: 16px;
	text-align: center;
}

/*----------------------------------*/

ul.download {
	float: left;
	width: 100%;
	margin-top: 15px;
} ul.download li {
	float: left;
	margin: 15px 0 0 0;
	height: 160px;
	background: #ededed;
	border: 1px solid #DBDBDB;
} ul.download li img {
	float: left;
	display: block;
	margin: 15px;
	width: 126px;
	height: 126px;
	border: 3px solid #D4D4D4;
} ul.download li h3 {
	padding: 35px 0 10px 0;
	font-size: 16px;
	color: #5d5d5d;
} ul.download li h3.single {
	padding-top: 65px;
}  ul.download li span.info {
	float: left;
	display: block;
	margin: 0 19px 0 10px;
	width: 490px;
} ul.download li span.size,
	ul.download li span.download a{
	float: right;
	display: block;
	height: 60px;
	padding: 100px 0 0 0;
	font-size: 11px;
	color: #575757;
	text-transform: uppercase;
	text-align: center;
	border-left: 1px solid #DBDBDB;
	background: url('/img/button-download.png') no-repeat 0 0;
} ul.download li span.size {
	width: 105px;
	background-position: 20px 20px;
} ul.download li span.download a {
	width: 130px;
	background-position: -83px 20px;
}

/*----------------------------------*/

p.paging {
	float: left;
	display: block;
	margin: 30px 0 0 0;
	width: 100%;
	line-height: 40px;
	height: 40px;
	text-align: center;
} p.paging a,
	p.paging span {
	display: inline-block;
	margin: 0 3px 0 3px;
} p.paging a.num,
	p.paging span {
	color: #7f7f7f;
	font-size: 16px;
	text-decoration: underline;
} p.paging span,
	p.paging a.num:hover {
	color: #ff0000;
} p.paging span,
	p.paging a.back:hover,
	p.paging a.next:hover {
	text-decoration: none;
} p.paging a.back, p.paging a.next {
	height: 40px;
	width: 84px;
	background: url('/img/button-prv-next.png') no-repeat 0 0;
} p.paging a.back span,
	p.paging a.next span {
	text-indent: -9999px;
} p.paging a.back {
	background-position: 0 0;
	margin-right: 10px;
} p.paging a.next {
	background-position: -85px 0;
	margin-left: 10px;
}

/*----------------------------------*/

ul.position {
	float: left;
	margin: 10px 0;
	width: 210px;
} ul.position li {
	margin: 5px 0;
	height: 18px;
} ul.position li a {
	color: #333;
} ul.position li.tel,
	ul.position li.fax,
	ul.position li.mail,
	ul.position li.gg {
	padding: 2px 0 0 40px;
	background: url(/img/icons-contact.png) no-repeat 0 0;
} ul.position li.tel {
	background-position: 0 0;
} ul.position li.fax {
	background-position: 0 -22px;
} ul.position li.mail {
	font-size: 11px;
	background-position: 0 -44px;
} ul.position li.gg {
	background-position: 0 -66px;
}

/*----------------------------------*/

.scheme h3,
.scheme h4,
.scheme h5 {
	
	margin:0;
	padding:0;
	color: #fff;
	font-family: 'Calibri';
	font-weight: normal;
	background: url(/img/scheme.png) no-repeat 0 0;
	text-shadow: 0px 1px 2px rgba(128, 128, 128, 1);
	text-align: center;
	display: block;
	overflow: hidden;
}

.scheme h3 {
	font-size: 32px;
	padding: 25px 0 0 0;
	height: 80px;
	line-height: 32px;
	width: 660px;
	/*height: 87px;*/
	background-position: -4px 0;
}
.scheme h3 i {
	font-size: 16px;
}
.scheme h4 {
	font-size: 24px;
	padding: 25px 0 0 0;
	height: 50px;
	line-height: 26px;
	width: 535px;
	/*height: 73px;*/
	background-position: -4px -107px;
}
.scheme h5 {
	font-size: 18px;
	padding: 16px 0 0 0;
	height: 32px;
	line-height: 12pt;
	width: 492px;
	/*height: 45px;*/
	background-position: -4px -258px;
}

.scheme ul li {
	display: inline-block;
	font-size: 16px;
	padding: 17px 0 0 0;
	height: 58px;
	line-height: 22px;
	text-align: center;
	/*height: 73px;*/
	font-family: 'Calibri';
	color: #fff;
	background: url(/img/scheme.png) no-repeat 0 0;
	text-shadow: 0px 1px 2px rgba(173, 173, 173, 1);
}
.scheme ul li.half {
	width: 265px;
	background-position: -4px -306px;
}
.scheme ul li.all {
	width: 535px;
	background-position: -4px -182px;
}

.scheme ul li.half-mini {
	width: 241px;
	background-position: -4px -383px;
}
.scheme ul li i {
	font-size: 11px;
}

/*----------------------------------*/

footer {
	float: left;
	width: 100%;
	height: 100px;
	background: #D3D3D3;
} footer div {
	position: relative;
	margin: auto;
	width: 970px;
} footer ul {
	position: absolute;
	top: -15px;
	left: 200px;
	margin: 0 auto 0 auto;
	height: 55px;
	width: 585px;
	background: url('/img/bg-footer-ul.png') no-repeat top left;
} footer ul li {
	margin: 16px 25px 0 25px;
	float: left;
}footer ul li a {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: #8f8f8f;
} footer ul li a:hover, footer ul li.selected a {
	color: #fff;
	text-decoration: none;
} footer p {
	padding: 70px 25px 0 25px;
	color: #333;
} footer p, footer p span, footer p em {
	display: block;
	font-size: 12px;
	color: #666;
} footer p span {
	float: left;
} footer p em {
	float: right;
}


/*------------ NEW CONTACT ----------------------*/


/* ------ DEFAULTS ------ */
/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-spacing: 0;
border-collapse: collapse;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}*/
a {
text-decoration: none;
}
nav li {
list-style-type: none;
display: inline-block;
}



/* ------ BOILERPLATE TEMPLATE ------ */

body {
font-family: 'Open Sans';
}

/*
.wrapper {
margin: 50px auto 0 auto;
max-width: 940px;
}
h1 {
margin-bottom: 30px;
}
h1 strong {
font-weight: 700;
}
h3 {
margin-bottom: 20px;
font-weight: 600;
}
p {
width: 500px;
margin: 0 0 30px;
text-align: left;
line-height: 1.5;
}*/
.controls {
display: inline-block;
/*width: 920px;*/
margin: 0 0 20px;
vertical-align: top;

}
.controls button {
  background-color: rgb(101, 174, 34);
  color: #FFF;
  padding: 5px 10px;
  border-radius: 8px;
  float: left;
  font-size: 0.8em;
  border:none;
  margin:3px;
  cursor:pointer;
}
.controls button.active {
	background-color: rgb(66, 108, 27);
	border:none;
	cursor:pointer;
}
	
hr {
margin: 0 0 30px;
height: 0;
border: 0 none;
border-top: 1px solid #eee;
}
#Grid {
width: 940px;
text-align: justify;
font-size: 0.1px;
  margin-left: -38px;
}
#Grid:after {
content: '';
/*display: inline-block;*/
display: inline;
width: 100%;
margin-left:0;
}
#Grid .mix {
display: none;
opacity: 0;
/*width: 200px;
height: 200px;*/
vertical-align: top;
margin-bottom: 20px;
color: #fff;
font-size: 15px;
text-align: center;
}
#Grid .gap {
display: inline-block;
width: 220px;
}




.container {
	
	width: 950px;
	box-shadow: 1px 1px 20px #CCC;
	padding:20px;
	
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	
	}


	
	.box {
	width:216px;
	/*height:250px;*/
	/*border: 1px solid #CCCCCC;*/
	box-shadow: 1px 1px 20px #cccccc;
	background-color:#FFFFFF;
	display:inline-block;
	margin:6px;
	border-radius:8px;
	padding:1px;
	text-align:center;
	color:#AAA;
	padding-bottom:15px;
	
	}
	
	ul {
  		list-style-type: none;
	}
	ul.contact_details {
	  margin: 10px 0px 5px -1px;
	  width: 90%;
	  list-style-type: none;
	  color: rgb(94, 94, 94);
	  font-size: 0.9em;
	}
	
	.tph {
	  background: url(img/ico_tel.png) no-repeat 0 0;
	  height: 37px;
	  margin: 20px 0px 0px -5px;
	  text-align: left;
	  line-height: 37px;
	  padding-left: 45px;

	}
	
	 .mob {
		  background: url(img/ico_tel_kom.png) no-repeat 0 0;
	      height: 37px;
		  margin: 4px 0px 0px -5px;
		  text-align: left;
		  line-height: 37px;
		  padding-left: 48px;
	 }
	 
	 .fax {
		  background: url(img/ico_fax2.png) no-repeat 0 0;
		  height: 37px;
		  margin: 4px 0px 0px -5px;;
		  text-align: left;
		  line-height: 37px;
		  padding-left: 48px;
	 }
	 
	 .ico_gg {
		  background: url(img/ico_gg.png) no-repeat 0 0;
		  height: 37px;
		  margin: 4px 0px 0px -5px;;
		  text-align: left;
		  line-height: 37px;
		  padding-left: 48px;
	 }
	 
	 .ico_skype {
		  background: url(img/ico_skype.png) no-repeat 0 0;
		  height: 37px;
		  margin: 4px 0px 0px -5px;;
		  text-align: left;
		  line-height: 37px;
		  padding-left: 40px;
		  font-size:12px !important;
	 }
	 
	 
	 
	 .p_name{
			text-align: center;
			padding: 19px 0 0 0; 
			font-size:1em;
			color: rgb(89, 89, 89);
			font-weight: bold;
			margin: 0 12px;
	 }
	 
	 .position_name {
		  text-align: center;
		  width: 93%;
		  font-size: 0.8em;
		  margin: 5px 0px 10px 8px;
		  font-weight:300;
	 }
	 
	 .button_email {
		  background-color: #cd4e09;
		  padding: 7px 15px;
		  text-align: center;
		  color: #FFF;
		  font-size: 1em;
		  border-radius: 15px;
		  border: 2px solid #FFF;
		  box-shadow: 1px 1px 24px #DFDFDF;
		  margin-top: 25px;
		 /* position: absolute;
		  margin: 150px -40px;*/
	 }
	 
	 
	 
	 
/* TOOLTIP EMAIL*/


a.tooltip_email{
  
  text-shadow:0px 1px 2px rgba(131, 92, 0, 0.99);
    position: relative;
    display:inline-block; 
    background-color: #aa4508; 
    color: #FFFFFF !important; 
    padding: 6px 10px; border-radius: 5px; 
    margin: 2px;
    font-size:11px;
    

} 

a.tooltip_email:after{
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -97px;
  opacity: 0;
  content: attr(data-tool); /* might also use attr(title) */
  height: auto;
  min-width: 205px;
  padding: 9px 0 0 0;
  z-index: 999;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: none repeat scroll 0% 0% rgba(161, 3, 3, 0.92);
  /*border: 3px solid  rgba(255, 255, 255, 0.99);*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left:20px;
  margin-top: 0px;
  font-size: 11px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);

-webkit-box-shadow: 70px 0px 60px 45px rgba(255, 255, 255, 0.55);
-moz-box-shadow:    70px 0px 60px 45px rgba(255, 255, 255, 0.55);
box-shadow:         70px 0px 60px 45px rgba(255, 255, 255, 0.55);
}
 
a.tooltip_email:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0px;
  opacity: 0;
  content: "";
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
}
a.tooltip_email.animate:after, a.tooltip_email.animate:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a.tooltip_email:hover:after{ visibility: visible; opacity: 1; bottom: 10px; }
a.tooltip_email:hover:before{ visibility: visible; opacity: 1; bottom: 14px; }

/* tips on the right */
a.tooltip_email.righty:after { right: 0%; bottom: -30%; }
a.tooltip_email.righty:hover:after { right: 0%; bottom: -30%; }
a.tooltip_email.righty:before {
  border-width: 5px 10px 5px 0;
  border-color: transparent /*rgba(161, 3, 3, 1)*/ transparent transparent transparent; /* KOLOR STRZAŁKI */
  left: 100%;
  bottom: 102%;
}
a.tooltip_email.righty:hover:before { left: 100%; bottom: 2%; }