@charset "utf-8";
/* CSS Document */

@media (max-width: 992px) {
	.headlogo {
		width: 85%;
		max-width:451px;
	}
	
	.nk-nav-logo img {
		width: 85%;
    	max-width: 130px;
	}
}

.bg-grey {
	background-color: #f6f6f6 !important;
}

#footer {
	position: fixed;
    z-index: 1000;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(76, 125, 100, 0.79);
    text-align: center;
    color: white;
    padding-top: 15px;
}

#footer h3 {
	color: #dce8e2;
}
#footer h4, h5{
	color: #FFF;
}

#footer p {
	margin-bottom: 0rem;
}

/*
OFERTA
*/

.about-sec {
  margin-top: 40px;
}

.about-us {
  background: white;
  padding: 92px 0 80px;
}


@media (min-width: 320px) and (max-width: 1024px) { 
      .about-us {
      background: white;
      padding: 50px 0;
      /*color: #ffffff;*/
    }
}

.aboutus-item {
  margin-bottom: 15px;
  margin-top: 60px;
  float:left;
  /*height: 300px;*/
  /*min-height: 280px;*/
}

.aboutus-item p {
  text-align:justify;
  margin: 0 2%;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

i.aboutus-icon {
 /*
  border: 3px solid rgba(211, 206, 229, 0.39);
  color: rgb(211, 206, 229);
 
  border-radius: 50%;
  display: inline-block;
  font-size: 62px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
  */
  	border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
  
}

h4.aboutus-title {
  /*font-family: 'Raleway', sans-serif;
  margin-top: 23px;
  font-weight: 300;
  font-size: 22px;*/
  
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  /* font-weight: 300; */
  font-size: 20px;
  /*color: rgb(55, 39, 119);*/
  color: rgb(84, 84, 84);
}

p.aboutus-desc {
  /*font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: rgb(106, 106, 106);*/
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.2px;
  /*color: rgb(116, 112, 136);*/
  color: rgba(136, 136, 136, 1);
  padding: 0 2%;
  text-align: justify;
}

.color-p01 {
  color: rgb(75, 177, 207);
  border: 3px solid rgb(75, 177, 207);
}

.color-p02 {
  color: rgb(70, 105, 169);
  border: 3px solid rgb(70, 105, 169);
}

.color-p03 {
  color: rgb(119, 102, 189);
  border: 3px solid rgb(119, 102, 189);
}

.color-p04 {
  color: rgb(73, 186, 160);
  border: 3px solid rgb(73, 186, 160);
}

.color-p05 {
  color: rgb(210, 179, 56);
  border: 3px solid rgb(210, 179, 56);
}

.color-p06 {
  color: rgb(215, 142, 80);
  border: 3px solid rgb(215, 142, 80);
}

.color-p07 {
  color: rgb(192, 85, 85);
  border: 3px solid rgb(192, 85, 85);
}

.color-p08 {
  color: rgb(210, 114, 169);
  border: 3px solid rgb(210, 114, 169);
}

.shadow-hov {
	opacity: 0.7;
	-o-opacity: 0.7;
	-ms-opacity: 0.7;
	-moz-opacity: 0.7;
	-webkit-opacity: 0.7;
	
	-o-transition: all .1s;
 	 -ms-transition: all .1s;
 	 -moz-transition: all .1s;
 	 -webkit-transition: all .1s;
 	 transition: all .1s;
	 
  	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.shadow-hov:hover {
	box-shadow: 0 0 30px rgba(204, 204, 204, 0.6);
	border-radius: 15px;
	background-color:rgba(255, 255, 255, 0.6);
	
	opacity: 1;
	-o-opacity: 1;
	-ms-opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	
	-o-transition: all .1s;
 	 -ms-transition: all .1s;
 	 -moz-transition: all .1s;
 	 -webkit-transition: all .1s;
 	 transition: all .1s;
	 
  	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}



/********* PAGING ********/

.blog_paging {
	width: 100%;
    text-align: center;
}

.paging {
	float: left;
	display: block;
	width: 100%;
	margin: 10px 0 35px;
	height: 35px;
	line-height: 45px;
	text-align: center;
} .paging a {
    margin: 5px 2px;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 7px;

    color: #444444;

    font-size: 14px;
    font-weight: 100;

    box-shadow: 2px 2px 17px #ccc;
} 

.paging span {
    border-radius: 7px;
    margin: 5px 2px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background: #5e9077;
    text-shadow: 0px 0px 5px #333333;
    font-size: 14px;

}.paging span.selected {
	color: #fff;
	text-decoration: none;
	background: #ED1C24;
} .paging a.num {
	margin: 5px 2px;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 7px;
    color: #444444;
    font-size: 14px;
    font-weight: 100;
} .paging a.next-back {
	font-weight: normal;
	background-color:#CCC;
} .paging a.num:hover, .paging a.back:hover, .paging a.next:hover {
	color: #333;
	text-decoration: none;
	box-shadow: inset 1px 1px 12px rgba(0, 0, 0, 0.15);
} .paging a {
	margin: 2px 5px;
}


/************* Body ************/

.nk-main, body {
    background-color: #fbfbfb;
}

.nk-navbar-must {
	background-color: #fff !important;
}


/************* Navi ************/

.nk-navbar.nk-navbar-white-text-on-top .nk-nav>li>a {
    color: #5d5d5d;
}

.nk-navbar .nk-nav-table {
	-webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0s;
}

/************* Header ************/

.display-4 {
    padding-top: 0.9rem;
}

.nk-title>img {
	 -webkit-animation-name: pulse;
	  animation-name: pulse;
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  animation-delay: 1.6s;
}

/************* Isotope filter ************/
.nk-isotope-filter>li {
    font-size: .92rem;
	border: solid 1px #e6e6e6;
    margin: 3px;
    border-radius: 5px;
	padding: 4px 7px;
}

.nk-isotope-filter>li.active, .nk-isotope-filter>li:hover {
    color: #fff;
    background-color: #55a07a;
}

@media (min-width: 320px) and (max-width: 700px) { 
.nk-isotope-filter {
    margin-bottom: 150px !important;
}
}
@media (min-width: 701px) and (max-width: 991px) { 
.nk-isotope-filter {
    margin-bottom: 110px !important;
}
}
@media (min-width: 992px) { 
.nk-isotope-filter {
    margin-bottom: 70px !important;
	margin-top:0px !important;
}
}




/******* Fly search button *******/
.flybutton {
	position: fixed;
    right: 3%;
    bottom: 2%;
    z-index: 10;
	-webkit-animation-name: fadeInUpBig;
	  animation-name: fadeInUpBig;
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both; 
	  animation-delay: 1s;
}

.flybutton2 {
	position: fixed;
    right: -12px;
    bottom: 75%;
    z-index: 10;
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.flybutton>.aboutus-item>a>i:hover {
	animation-name: spin;
	  animation-duration: 500ms;
	  animation-iteration-count: 1;
	  animation-timing-function: linear;
}

.flybutton2 .fa-facebook {
	color: rgb(252, 255, 251);
    border: 2px solid rgb(163, 176, 159);
    background-color: rgb(168, 181, 164);
    font-size: 1.2rem !important;
    line-height: 43px !important;
    width: 54px !important;
    height: 44px !important;
    right: 1px !important;
    border-radius: 14px;
    padding-right: 10px;
}

.flybutton2 .fa-facebook:hover {
	color: #fff;
    border: 2px solid rgb(65, 96, 160);
    background-color: rgb(66, 103, 178);
}

.flybutton2>.aboutus-item>a>i:hover {
	animation-name: pulse;
	  animation-duration: 300ms;
	  animation-iteration-count: 2;
	  animation-timing-function: linear;
}

#lsearchlist {
	margin-top: 15px;
}

.lsearch {
	list-style: none;
    padding: 0;
}
.lsearch>li {
    display: inline-block;
    cursor: pointer;
    transition: color .5s;
	margin: 3px 0;  
	padding: 5px 1px;  
}

.lsearch>li>a {
    color: #fff;
    padding: 8px 7px;
    font-size: .78rem;
    border: solid 1px #4f8a6c;
    border-radius: 5px;
    /*text-transform: uppercase;*/
    font-weight: 500;
    background-color: #55a07a;
	-o-transition: all .1s;
 	 -ms-transition: all .1s;
 	 -moz-transition: all .1s;
 	 -webkit-transition: all .1s;
 	 transition: all .1s;
}

.lsearch>li>a:hover {
    color: #fff;
    border: solid 1px #2e6f4e;
    background-color: #3a7d5b;
	text-decoration:none;
	-o-transition: all .1s;
 	 -ms-transition: all .1s;
 	 -moz-transition: all .1s;
 	 -webkit-transition: all .1s;
 	 transition: all .1s;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}



/***********************/
/****** Tooltips ******/
/***********************/



/* Tooltip */
.FlybuttonTooltip + .tooltip > .tooltip-inner {
    background-color: #FFF; 
    color: #4267b2; 
    border: 1px solid #4163a7;
    padding: 6px 10px;
    font-size: 14px;
	/*
	max-width: 180px;
    width: 180px;
	*/
}

/* Tooltip on top */
.FlybuttonTooltip + .tooltip.top > .tooltip-arrow {
    
}

/* Tooltip on bottom */
.FlybuttonTooltip + .tooltip.bottom > .tooltip-arrow {
    
}

/* Tooltip on left */
.FlybuttonTooltip + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid #4267b2;
}

/* Tooltip on right */
.FlybuttonTooltip + .tooltip.right > .tooltip-arrow {
    
}




/****** Animations ******/

@keyframes spin {
    from {
        transform:rotate(0deg);
		opacity: 0;
    }
    to {
        transform:rotate(360deg);
		opacity: 1;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/** Fadein Up **/

@-webkit-keyframes fadeInUpBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUpBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
 
 
 /** Fadein Down**/
 
 @-webkit-keyframes fadeInDownBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDownBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 


/** Pulse **/

@-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 